extends layout

block prepend content
    #container-grid
        .grid
            strong Sunset Lake
            p
                |A peaceful sunset view... A peaceful sunset view... A peaceful sunset view...
                |A peaceful sunset view... A peaceful sunset view... A peaceful sunset view...
                |A peaceful sunset view... A peaceful sunset view... A peaceful sunset view...
                |A peaceful sunset view... A peaceful sunset view... A peaceful sunset view...
                |A peaceful sunset view... A peaceful sunset view... A peaceful sunset view...
            .meta by j osborn
            .imgholder
                img(src="http://www.inwebson.com/demo/blocksit-js/demo2/images/img27.jpg")
         .grid
            .imgholder
                img(src="http://www.inwebson.com/demo/blocksit-js/demo2/images/img23.jpg")
            strong Bridge to Heaven
            p
                |A peaceful sunset view... A peaceful sunset view... A peaceful sunset view...
                |A peaceful sunset view... A peaceful sunset view... A peaceful sunset view...
                |A peaceful sunset view... A peaceful sunset view... A peaceful sunset view...
                |A peaceful sunset view... A peaceful sunset view... A peaceful sunset view...
                |A peaceful sunset view... A peaceful sunset view... A peaceful sunset view...
            .meta by j osborn

         .grid
            strong Bridge to Heaven
            p
                |A peaceful sunset view... A peaceful sunset view... A peaceful sunset view...
                |A peaceful sunset view... A peaceful sunset view... A peaceful sunset view...
                |A peaceful sunset view... A peaceful sunset view... A peaceful sunset view...
                |A peaceful sunset view... A peaceful sunset view... A peaceful sunset view...
                |A peaceful sunset view... A peaceful sunset view... A peaceful sunset view...
