extends layout

mixin grid(box)
    if(typeof(box.title) !== 'undefined')
        strong #{box.title}
    if(typeof(box.article_image) !== 'undefined')
        .imgholder
            img(src='#{box.article_image[0]}' ,alt="").img-rounded.displayed
    else
        .imgholder
            img(src="http://www.inwebson.com/demo/blocksit-js/demo2/images/img23.jpg")
    strong
    p #{box.content}
    .inputs
        button(type="button").btn.btn-success Share
        button(type="button").btn.btn-warning Share
        button(type="button").btn.btn-primary Comment
    .meta #{box.author}

block prepend content
    #container-grid
        each box in box_obj
            .grid
                +grid(box)
