doctype 5
html
  head
    title= title
    meta(name="viewport" ,content="width=device-width initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/dropdownblue.css')
        
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(src="javascripts/bootstrap.js")
    script(src="javascripts/blocksit.min.js")
    script(src="javascripts/bootstrap.js")
    script(src="javascripts/delayHF.js")
    script(src ="http://ie7-js.googlecode.com/svn/version/2.1(beta2)/IE8.js")
    script(src="javascripts/bootstrap.min.js")
    script(src="javascripts/google.js")
    script(src="javascripts/googlecallback.js")
    script(src="javascripts/fbloginscript.js")


    
    
    
  body
    header#header
        .navbar.navbar-fixed-top.navbar-inverse
            .navbar-inner
                .container-fluid
                    a(href="#").brand FootyJokes
                    ul.nav
                        form(id="nav-search" , action="#" , method="post").navbar-search.pull-left
                            input(type="text", placeholder="search post").search-query
                            
                    .dropdown.pull-right
                        a#dLabel.dropdown-toggle(role="button", data-toggle="dropdown", data-target="#", href="/page.html").brand|Login
                        ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
                            li
                                a() 
                                    fb:login-button(show-faces='true', width='300', max-rows='1')

                            li
                                a(tabindex="-1", href="#") Twitter
                            li
                                a()
                                    span#signinButton
                                        span(data-callback="signinCallback" , data-clientid="943631610737.apps.googleusercontent.com" , data-cookiepolicy="single_host_origin" , data-requestvisibleactions="http://schemas.google.com/AddActivity" , data-scope="https://www.googleapis.com/auth/plus.login").g-signin
                
                                            
                                        
                                                                
                                                       

    .container
        block content

    footer#footer
        a(href="#") About us
        

        a(href="#") Contact
