
body{
    background-color:#D3D3D3;
}

.grid{
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
     border-radius: 12px;
}

.profile-display{
    width:100%;
    margin: 0 auto;

}

.profile-display .name{
    /*text-align:center;*/
    font-weight:bold;
    font-size:1.2em;
}
.profile-pic{
   width:50px;
   height:50px;
   float:left;
   margin-right:10px;
   /*margin: 0 auto;
   display: block;*/
}
.date{
    float:left;
}
.clear{
    clear:both;
}

.inputs .comment-textbox{
    margin:10px 10px 10px 0;
    width:95%;
}


.oncommentdisplay{
    /*z-index:1000;*/
}

.bigbox{
    border:5px solid;
}
